<?xml version="1.0" encoding="UTF-8"?>
<configuration error="true" scan="true" scanPeriod="2 seconds" debug="true">

    <contextName>JUNESIX-LOG</contextName>
    <!--路径-->
    <property name="logback.logs.path" value="../logs"/>
    <!--日志模块名-->
    <property name="logback.logs.module.name" value="default"/>

    <!--appender 模块-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender" target="System.out">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger#%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
       <!-- <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return !logger.equals("REQUEST");</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>-->
    </appender>
    <appender name="errconsole" class="ch.qos.logback.core.ConsoleAppender" target="System.err">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger#%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="debugfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logs.path}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/debug.%d{yyyyMMdd-HH}.log</FileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger#%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="infofile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logs.path}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/info.%d{yyyyMMdd-HH}.log</FileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger#%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>NEUTRAL</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return !logger.equals("REQUEST");</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="warnfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logs.path}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/warn.%d{yyyyMMdd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger#%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="errfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logs.path}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/error.%d{yyyyMMdd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger#%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="requestfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logs.path}/request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/request.%d{yyyyMMdd-HH}.log</FileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return logger.equals("REQUEST");</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="org.springframework" level="OFF"/>
    <logger name="org.hibernate" level="OFF"/>
    <logger name="druid" level="OFF"/>
    <logger name="org.apache" level="OFF"/>

    <logger name="com.junesix" level="DEBUG"/>
    <logger name="REQUEST" level="INFO" additivity="false">
        <appender-ref ref="requestfile"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="errconsole"/>
        <appender-ref ref="debugfile"/>
        <appender-ref ref="infofile"/>
        <appender-ref ref="warnfile"/>
        <appender-ref ref="errfile"/>
    </root>
</configuration>
