*~
.classpath
.project
.settings/
lib/
logs/
target/
.DS_Store
.metadata
*.log
*.log.*
.idea/
.clover/
*.iml
.vagrant/
.#*
.gitmessage.txt
matrix.ipr
matrix.iws
.lein*
.nrepl*
out/
*.class
build/
classes/*
.gradle/
include/
*.o
*.out
rebel.xml
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
