*~
.classpath
.project
.settings/
lib/
logs/
target/
bin/
.DS_Store
.metadata
*.log
*.log.*
.idea/
.clover/
*.iml
.vagrant/
.#*
.gitmessage.txt
matrix.ipr
matrix.iws
.lein*
.nrepl*
*.jar
out/
*.class
build/*
classes/*
.gradle/
include/
*.o
*.out
