<?xml version="1.0" encoding="UTF-8"?>
<configuration error="true" scan="false" scanPeriod="2 seconds" debug="true">

    <contextName>APP-ENGINE</contextName>
    <!--路径-->
    <property name="logback.logs.path" value="../logs"/>
    <!--日志模块名-->
    <property name="logback.logs.module.name" value="default"/>

    <!--appender 模块-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender" target="System.out">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger:%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>
    <appender name="errconsole" class="ch.qos.logback.core.ConsoleAppender" target="System.err">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger:%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="debugfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logs.path}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/debug.%d{yyyyMMdd-HH}.log</FileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger:%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="infofile" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>CUSTOM_LOG</key>
            <DefaultValue>info</DefaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${logback.logs.path}/${CUSTOM_LOG}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${logback.logs.path}/${CUSTOM_LOG}.%d{yyyyMMdd-HH}.log</FileNamePattern>
                </rollingPolicy>
                <encoder charset="UTF-8">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger:%line %msg%n</pattern>
                </encoder>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>INFO</level>
                    <onMatch>NEUTRAL</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
            </appender>
        </sift>
    </appender>
    <appender name="warnfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logs.path}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/warn.%d{yyyyMMdd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger:%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="errfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logs.path}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/error.%d{yyyyMMdd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger:%line %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="druid" level="ERROR"/>
    <logger name="springfox" level="WARN"/>
    <logger name="org.apache.catalina" level="OFF"/>

    <logger name="com.appengine" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="errconsole"/>
        <appender-ref ref="debugfile"/>
        <appender-ref ref="infofile"/>
        <appender-ref ref="warnfile"/>
        <appender-ref ref="errfile"/>
    </root>
</configuration>
